<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="descrption" content="Aqui podrás comprar cualquier dulce de Tatilandia">
        <meta name="keywords" content="dulces, postres, comprar, brownies, tortas, barato, economico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/estilo.css">
        <!-- Fuente Monserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <!-- Fuente Monserrat -->
        <title>Comprar</title>
    </head>
    <body>
        <div class="gridCom">
            <header class="headCom">
                <ul class="headCom__lista">
                    <li><a href="../index.html"><h2>Home</h2></a></li>
                    <li><a href="#"><h2>Comprar</h2></a></li>
                    <li><a href="Menu.html"><h2>Menú</h2></a></li>
                    <li><a href="Contacto.html"><h2>Contacto</h2></a></li>
                    <li><a href="Conocenos.html"><h2>Conócenos</h2></a></li>
                </ul>
                <div class="headCom__titulo">
                    <a href=""><h1>Tatilandia</h1></a>
                    <img src="../assets/img/2 - Logo Tatilandia PNG.png" alt="Logo Tatilandia">
                </div>                    
            </header>
            <div class="encabezadoCom">
                <img src="../assets/img/Banner.jpg" alt="">
                <div>
                    <h5>¿Qué se te antoja hoy?</h5>
                </div>
            </div>

            <div class="card comprar-tortas">
                <div class="card-header back-verde">
                    Tortas
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="carrot">
                            <label class="custom-control-label" for="carrot">Carrot Cake</label>
                            <select class="custom-select" id="carrot-cantidad" required>
                                <option value="cantidad">¿Cuántas?</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>  
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="torta-chocolate">
                            <label class="custom-control-label" for="torta-chocolate">Torta de chocolate</label>
                            <select class="custom-select" id="torta-chocolate-cantidad" required>
                                <option value="cantidad">¿Cuántas?</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="torta-naranja" disabled>
                            <label class="custom-control-label" for="torta-naranja">Torta de Naranja</label>
                            <select class="custom-select" id="torta-naranja-cantidad" disabled>
                                <option value="cantidad">¿Cuántas?</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Comentarios</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </li>
                </ul>  
            </div>
    
            <div class="card comprar-galletas">
                <div class="card-header back-verde">
                    Galletas
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chocochips">
                            <label class="custom-control-label" for="chocochips">Chocochips y nueces</label>
                            <select class="custom-select" id="chocochips-cantidad" required>
                                <option value="cantidad">¿Cuántas?</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="doble-chocolate">
                            <label class="custom-control-label" for="doble-chocolate">Doble Chocolate</label>
                            <select class="custom-select" id="doble-chocolate-cantidad" required>
                                <option value="cantidad">¿Cuántas?</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="pasas">
                            <label class="custom-control-label" for="pasas">Pasas y almendras</label>
                            <select class="custom-select" id="pasas-cantidad" required>
                                <option value="cantidad">¿Cuántas?</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea2">Comentarios</label>
                            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
                        </div>
                    </li>
                </ul>
            </div>
    
            <div class="card comprar-bundtcakes">
                <div class="card-header back-verde">
                    Mini Bundtcakes
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="budntcake-naranja">
                            <label class="custom-control-label" for="budntcake-naranja">Mini con Naranja</label>
                            <select class="custom-select" id="budntcake-naranja-cantidad" required>
                                <option value="cantidad">¿Cuántas?</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="budntcake-nueces">
                            <label class="custom-control-label" for="budntcake-nueces">Mini con Nueces</label>
                            <select class="custom-select" id="budntcake-nueces-cantidad" required>
                                <option value="cantidad">¿Cuántas?</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="budntcake-nutella" disabled>
                            <label class="custom-control-label" for="budntcake-nutella">Mini con Nutella</label>
                            <select class="custom-select" id="mini-nutella-cantidad" disabled>
                                <option value="cantidad">¿Cuántas?</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea3">Comentarios</label>
                            <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
                        </div>
                    </li>
                </ul>
            </div>
    
            <div class="card comprar-brownies">
                <div class="card-header back-verde">
                    Brownies
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="brownie-nutella">
                            <label class="custom-control-label" for="brownie-nutella">Nutella</label>
                            <select class="custom-select" id="brownie-nutella-cantidad" required>
                                <option value="cantidad">¿Cuántas?</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="brownie-oreo">
                            <label class="custom-control-label" for="brownie-oreo">Oreo</label>
                            <select class="custom-select" id="brownie-oreo-cantidad" required>
                                <option value="cantidad">¿Cuántas?</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="brownie-ddl">
                            <label class="custom-control-label" for="brownie-ddl">Dulce de Leche</label>
                            <select class="custom-select" id="brownie-ddl-cantidad" required>
                                <option value="cantidad">¿Cuántas?</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea4">Comentarios</label>
                            <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card datos-contacto">
                <div class="card-header back-verde">
                    Datos de contacto
                </div>
                <form>
                    <div class="form-group contacto-form">
                    <label for="nombre-completo">Nombre completo</label>
                    <input type="email" class="form-control" id="nombre-completo" aria-describedby="emailHelp">
                    </div>
                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Entrega a domicilio
                    </button>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <div class="form-group">
                                <label for="direccion">Dirección</label>
                                <input type="email" class="form-control" id="direccion" aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark">¡Todo listo!</button>
                </form>
            </div>
            <div class="fooTopCom">
                <ul class="fooTopCom__lista">
                    <l1><a href="Views/Comprar.html"><h2>¡Quiero un dulce!</h2></a></l1>
                    <l1><a href="Views/Productos.html"><h2>Productos</h2></a></l1>
                    <li><a href="Views/Contacto.html"><h2>Contacto</h2></a></li>
                    <li><a href="Views/Conocenos.html"><h2>Conócenos</h2></a></li>
                </ul>
                <div class="fooTopCom__topImgCom">
                    <a href="https://www.instagram.com/tatilandiadulces/" target="blank"><img src="../assets/img/Logo instagram.png" alt=""></a>
                    <a href=""><img src="../assets/img/whatsapp-2.png" alt=""></a>
                </div>
            </div>
            <div class="fooBotCom">
                <h4>© Hecho por Marcos Escobar</h4>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>