<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Comunícate con nosotros">
        <meta name="keywords" content="contacto, direccion, canal de contacto, ubicacion">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/estilo.css">
        <!-- Fuente Monserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <!-- Fuente Monserrat -->
        <title>Contacto</title>
    </head>
    <body>
        <div class="gridCon">
            <header class="headCon">
                <ul class="headCon__lista">
                    <li><a href="../index.html"><h2>Home</h2></a></li>
                    <li><a href="Comprar.html"><h2>Comprar</h2></a></li>
                    <li><a href="Menu.html"><h2>Menú</h2></a></li>
                    <li><a href="#"><h2>Contacto</h2></a></li>
                    <li><a href="Conocenos.html"><h2>Conócenos</h2></a></li>
                </ul>
                <div class="headCon__titulo">
                    <a href="../index.html"><h1>Tatilandia</h1></a>
                    <img src="../assets/img/2 - Logo Tatilandia PNG.png" alt="Logo Tatilandia">
                </div>               
            </header>

            <div class="encabezadoCon">
                <img src="../assets/img/Banner.jpg" alt="varios productos">
                <div>
                    <h5>Contacto</h5>
                </div>
            </div>
            <div class="cuerpo">
                <div class="atencion">
                    <h2>Atención al cliente:</h2>
                    <div class="padin">
                        <h3>Correo:</h3>
                        <p>tatilandia@gmail.com</p>
                        <h3>Whatsapp</h3>
                        <p>xxxxxxxxxxx</p>
                    </div>
                </div>
                <div class="mapa">
                    <h2>Puedes encontrarnos en:</h2>
                        <h3>Pres. José Evaristo Uriburu 1041</h3>
                        
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.308333049906!2d-58.40085568505253!3d-34.59636396461553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca9695b99e69%3A0xea658e25f50ed18a!2sPres.%20Jos%C3%A9%20Evaristo%20Uriburu%201041%2C%20C1114%20AAE%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1628604739239!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" class="enlace-mapa"></iframe>
                        
                </div>
                <div class="canal-contacto">
                    <h2>Contacto directo:</h2>
                    <form class="padin">
                        <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre completo</label>
                        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput2">Dirección de email</label>
                            <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="usuario@ejemplo.com">
                        </div>
                        <div class="form-group">
                        <label for="exampleFormControlTextarea7">Mensaje</label>
                        <textarea class="form-control" id="exampleFormControlTextarea7" rows="3"></textarea>
                        </div>
                        <button type="reset" class="btn btn-dark">Borrar todo</button>
                        <button type="submit" class="btn btn-dark">Enviar</button>
                    </form>
                </div>
            </div>
            <div class="fooTopCon">
                <ul class="fooTopCon__lista">
                    <l1><a href="Comprar.html"><h2>¡Quiero un dulce!</h2></a></l1>
                    <l1><a href="Menu.html"><h2>Menú</h2></a></l1>
                    <li><a href="#"><h2>Contacto</h2></a></li>
                    <li><a href="Conocenos.html"><h2>Conócenos</h2></a></li>
                </ul>
                <div class="fooTopCon__topImgCon">
                    <a href="https://www.instagram.com/tatilandiadulces/" target="blank"><img src="../assets/img/Logo instagram.png" alt="Logo de Instagram"></a>
                    <a href=""><img src="../assets/img/whatsapp-2.png" alt="Logo de Whatsapp"></a>
                </div>
            </div>
            <div class="fooBotCon">
                <h4>© Hecho por Marcos Escobar</h4>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>   
    </body>
</html>