<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Encuentra dulces de primera calidad">
        <meta name="keywords" content="menu, postres, nutella, carta, oreo">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        
        <!-- Fuente Monserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <!-- Fuente Monserrat -->
        <link rel="stylesheet" href="../css/estilo.css">
        <title>Menu</title>
    </head>
    <body>
        <div class="grid-menu">
            <header class="headM">
                <ul class="headM__lista">
                    <li><a href="../index.html"><h2>Home</h2></a></li>
                    <li><a href="Comprar.html"><h2>Comprar</h2></a></li>
                    <li><a href="#"><h2>Menú</h2></a></li>
                    <li><a href="Contacto.html"><h2>Contacto</h2></a></li>
                    <li><a href="Conocenos.html"><h2>Conócenos</h2></a></li>
                </ul>
                <div class="headM__titulo">
                    <a href="../index.html"><h1>Tatilandia</h1></a>
                    <img src="../assets/img/2 - Logo Tatilandia PNG.png" alt="Logo Tatilandia">
                </div>               
            </header>
            <div class="imgM">
                <img src="../assets/img/foto menu.jpg" alt="">
                <div>
                    <h5>Menú</h5>
                    <p>Para los amantes de los dulces de calidad.</p>
                </div>
            </div>
            <div class="menu">
                <ul class="nav nav-tabs menu__lista" id="pills-tab" role="tablist">

                    <li class="nav-item">
                      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Brownies</a>
                    </li>

                    <li  class="nav-item">
                      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Tortas</a>
                    </li>

                    <li class="nav-item menu__item">
                      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Mini bundtcakes</a>
                    </li>

                    <li class="nav-item menu__item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-galletas" role="tab" aria-controls="pills-galletas" aria-selected="false">Galletas</a>
                      </li>

                  </ul>

                  <div class="tab-content" id="pills-tabContent">

                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="row max-ancho">
                            <div class="col-lg-6">
                                <div class="card mCard">
                                    <img class="card-img-top" src="../assets/img/brownies/nutella.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5>Brownie con Nutella</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card mCard">
                                    <img class="card-img-top" src="../assets/img/brownies/oreo.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5>Brownie con Oreo</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card mCard">
                                    <img class="card-img-top" src="../assets/img/brownies/ddl.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5>Brownie con Dulce de Leche</h5>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="row max-ancho">
                            <div class="col-lg-6">
                                <div class="card mCard">
                                    <img class="card-img-top limit" src="../assets/img/Tortas/Carrot cake con logo.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5>Carrot cake</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card mCard">
                                    <img class="card-img-top limit" src="../assets/img/Tortas/Torta de chocolate 2.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5>Torta de Chocolate</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                       <div class="row max-ancho">
                            <div class="col-lg-6">
                                <div class="card mCard">
                                    <img class="card-img-top" src="../assets/img/Mini bundtcakes/Naranja.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5>Mini Bundtcake con Naranja</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card mCard">
                                    <img class="card-img-top" src="../assets/img/Mini bundtcakes/nuez.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5>Mini Bundtcake con Nueces</h5>
                                    </div>
                                </div>
                            </div>
                       </div> 
                    </div>

                    <div class="tab-pane fade" id="pills-galletas" role="tabpanel" aria-labelledby="pills-galletas-tab">
                        <div class="row  max-ancho">
                            <div class="col-lg-6">
                                <div class="card mCard">
                                    <img class="card-img-top" src="../assets/img/Galletas/Chispas.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5>Galleta con Chocochips y Nueces</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card mCard">
                                    <img class="card-img-top" src="../assets/img/Galletas/Choco chispas.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5>Galleta Doble Chocolate</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card mCard">
                                    <img class="card-img-top" src="../assets/img/Galletas/almendras.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5>Galleta con Pasas y Almendras</h5>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>

                  </div>
            </div>
            <div class="fooTopM">
                <ul class="fooTopM__lista">
                    <l1><a href="views/Comprar.html"><h2>¡Quiero un dulce!</h2></a></l1>
                    <l1><a href="#"><h2>Menú</h2></a></l1>
                    <li><a href="views/Contacto.html"><h2>Contacto</h2></a></li>
                    <li><a href="views/Conocenos.html"><h2>Conócenos</h2></a></li>
                </ul>
                <div class="fooTopM__topImgM">
                    <a href="https://www.instagram.com/tatilandiadulces/" target="blank"><img src="../assets/img/Logo instagram.png" alt=""></a>
                    <a href=""><img src="../assets/img/whatsapp-2.png" alt=""></a>
                </div>
            </div>
            <div class="fooBotM">
                <h4>© Hecho por Marcos Escobar</h4>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>